updateurl=http://192.168.4.2:8080
ssid=Your SSID Network
password=Your Network Password
timezone=america/toronto
# tzinfo is calculated if timezone is present
tzinfo=EST5EDT,M3.2.0/02:00:00,M11.1.0/02:00:00
ntpserver=Your NTP Server (IE: Router IP sometimes, otherwise use pool.ntp.org)
tformat=12
brightness=255
latitude=43.4643
longitude=-80.5204
WeekDays=Mo,Tu,We,Th,Fr,Sa,Su
MonthName=Jan,Feb,Mar,Apr,May,Jun,Jul,Aug,Sep,Oct,Nov,Dec
autodimdebug=0
mindim=32
maxdim=255
clockcolor=#FF0000
datecolor=#FFFFFF
datebgcolor=#00005A
statuscolor=#FFFFFF
statusbgcolor=#00005A
schedulecolor=#FFDCA0
bootcolor=#80FF80
errorcolor=#FF8080
photoresistorrange=0,300
photodimsteps=10
photodimdeadzone=2
hourspan=1
sunrise=06:30
sunset=19:45
autodimholdms=5000
autodimstepms=500
autodimpercent=1
